body {
    background-color: #f8f8f8; 
    font-family: 'Garamond', serif;
}
.header {
    text-align: center;
    padding: 10px ;
    margin: 10px;
    z-index: 99;
    position: sticky;
    top: 0;
}
.image-container {
    width: 100%;
    height: 200px;
    background: url('https://github.com/johnbeve/JB-Fork-LLMO-FOIS/blob/main/images/1.png?raw=true') no-repeat center center;
    background-size: cover;
    position: relative; 
    z-index: 1; 
}
.organizer img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.main-content {
    position: relative;
    z-index: 2; 
    background-color: white; 
}
.navbar {
    text-align: center;
    background-color: #006884; 
}
.navbar a {
    margin: 0 15px;
    padding: 20px;
    
    text-decoration: none;
    color: #fff;
    font-size: 24px; 
}
p, ul {
    font-size: 18px; 
    padding: 0 165px;
}
li {
    padding: 15px ;
}
h1, h2 {
    text-align: center; 
}
h3 {
    font-size: 18px; 
    padding: 0 150px;   
}
ul {
    list-style-type: square; 
    list-style-position: inside ;
}